{% extends 'base.html' %}
{% load static %}
{% block content %}
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Me				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Me</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<img class="img-fluid" src="img/about-img.png" alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h6>About us</h6>
							<h1 class="text-uppercase">Broker Free </h1>
							<p>

								Broker Free is a web application  designed to help users search for available rental properties in their desired location. Our platform provides a user-friendly interface that enables users to easily browse through a wide variety of rental listings, view room details, compare prices and connect with House Owner. We strive to make the process of finding a new home as smooth and stress-free as possible by leveraging technology to simplify the search process. At Brooker Free, we are committed to providing an exceptional user experience and helping people find their perfect home.
							</p>
							<a href="#" class="primary-btn text-uppercase">View Full Details</a>
						</div>
				   </div>
			</section>
			<!-- End home-about Area -->	


			<!-- Start testimonial Area -->
		    <section class="testimonial-area section-gap">
		        <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Client’s Feedback About US</h1>
		                        <p>Am I doing good for you new comers in the city ??!! </p>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="active-testimonial">
							{% for feedback in feedbacks%}
		                    <div class="single-testimonial item d-flex flex-row">
		                        <div class="thumb">
		                            <img class="img-fluid" src="{{feedback.image}}" style="width:100px; height:100px" alt="">
		                        </div>
		                        <div class="desc">
		                            <p>
		                               {{feedback.comment}}
		                            </p>
		                            <h4>{{feedback.name}}</h4>
		                            <p>{{feedback.post}}</p>
		                        </div>
		                    </div>
							{%endfor%}

		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End testimonial Area -->			


{% endblock %}

